.song-card-container {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 273px;
  background-color: #433f48;
  border-radius: 10px;
}

.cover-container {
  position: relative;
}

.album-cover {
  width: 200px;
  height: 200px;
  border-radius: 10px 10px 0 0;
}

.song-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

.song-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.song-info h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

.song-info h5 {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

.song-info p {
  font-size: 10px;
  font-weight: 200;
  color: #7c7c7c;
}

.play-pause-icons {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 84px;
  height: 84px;
  background-color: #fff;
  border-radius: 50%;
  transition: opacity 0.3s ease;
  opacity: 0;
  cursor: pointer;
}

.play-pause-icons:hover {
  opacity: 1;
}

.play-pause-icons .play-cover,
.play-pause-icons .pause-cover {
  width: 40px;
  height: 40px;
  color: #231942;
}

.like-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  color: #231942;
}

.like-icon:hover {
  fill: #231942;
}

.like-icon-added {
  width: 24px;
  height: 24px;
  cursor: pointer;
  color: #231942;
  fill: #231942;
}
